body {
  font-family: 'Titillium Web', sans-serif;
  background-color: white;
  color:#a56cc1;
}

h1 {
  font-family: 'Amaranth', sans-serif;
  font-weight: 400;
  margin: 20px 0 30px 0;
  background: linear-gradient(to right, #dfaff6, #ffadda, #ffb5bc, #ffc4a6, #ffd6a0, #f7e0a1, #edeba6, #e0f5af, #cbf7bb, #b8f7ca, #a9f6d8, #9ff4e6);
  -webkit-background-clip: text;
  color: transparent;
}

.container-second {
  display: flex;
  flex-direction:row-reverse;
  justify-content: space-between;
  align-items: center;
}

.photo-right {
  margin-bottom: 70px;
}

#unicorn_name, #unicorn_magic_power, #unicorn_description, #unicorn_price, #unicorn_location, .btn-primary {
  border-radius: 10px;
}

.btn-primary {
  background: linear-gradient(75deg, #ffdcf5, #cefff1);
  border-color:white;
  color:#a56cc1;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) {
.image_unicorn {
    width:250px;
  }
.photo-right {
  margin-left: 50px;
}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
.image_unicorn {
    width:300px;
  } }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .image_unicorn {
    width:420px;
  }
}
