.container-one p {
  font-family: 'Titillium Web', sans-serif;
  color:#a56cc1;
}

.container-one #title-page {
  font-family: 'Amaranth', sans-serif;
  font-weight: 400;
  margin: 30px 0 30px 50px;
  background: linear-gradient(to right, #dfaff6, #ffadda, #ffb5bc, #ffc4a6, #ffd6a0, #f7e0a1, #edeba6, #e0f5af, #cbf7bb, #b8f7ca, #a9f6d8, #9ff4e6);
  -webkit-background-clip: text;
  color: transparent;
}

body {
  background-color: white;
}

.container-second {
  display: flex;
  flex-direction:row-reverse;
      justify-content: space-between;
  margin:0 50px 20px 0px;
}

.container-form {
  margin: 0 0 0 50px;
  padding: 20px;
  background-color:#EBFFF9;
}

.photo-right {
  margin-bottom: 70px;
  margin: 20px 10px 20px 50px;

}
.photo-right img {
  margin-bottom: 70px;
}

#unicorn_name, #unicorn_magic_power, #unicorn_description, #unicorn_price, #unicorn_location, .btn-primary {
  border-radius: 10px;
}

#unicorn_photos {
  display:block;
}

#unicorn_description {
  resize: none;
  height: 70px;
}


.btn-primary {
  background: linear-gradient(to right, #dfaff6, #ffadda, #ffb5bc, #ffc4a6, #ffd6a0, #f7e0a1, #edeba6, #e0f5af, #cbf7bb, #b8f7ca, #a9f6d8, #9ff4e6);
  color:#a56cc1;
  border-color:#EBFFF9;
}

.form-check {
  display: inline;
    padding-right: 10px;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) {
.image_unicorn {
    width:250px;
  }
.photo-right {
  display: none;
}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
.image_unicorn {
    width:300px;
  }
.photo-right img {
  margin-right: 100px;
}
   }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .image_unicorn {
    width:500px;
  }
  .photo-right img {
  // margin-right: 150px;
}
}
