.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap : 25px;
  margin-bottom: 50px;
}

#title-page {
  background: linear-gradient(to right, #dfaff6, #ffadda, #ffb5bc, #ffc4a6, #ffd6a0, #f7e0a1, #edeba6, #e0f5af, #cbf7bb, #b8f7ca, #a9f6d8, #9ff4e6);
  -webkit-background-clip: text;
  color: transparent;
  margin:20px 20px;
}
