#pictures {
  border-radius: 20px;
  margin-bottom: 15px;
}

.title {
  display: flex;
  margin-top: 25px;
  h1 {
    margin: 15px 0px;
  }
  .rating {
    margin: 0px 13px;
    font-size: 22px;
    margin-top: 25px;
    background: linear-gradient(to right, #9ff4e6, #a9f6d8, #b8f7ca, #cbf7bb, #e0f5af, #edeba6, #f7e0a1, #ffd6a0, #ffc4a6, #ffb5bc, #ffadda, #dfaff6);
    -webkit-background-clip: text;
    color: transparent;
  }
}

h2 {
  margin: 20px 0px;
  margin-top: 0px;
  font-size: 24px;
}

.content {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  padding: 20px 0px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  margin: 20px 0px;
  width: 700px;
  p {
    margin: 0px 0px;
  }
  h2 {
    margin-bottom: 8px;
  }
}

.carousel-inner {
  width: 700px;
  height:400px;
  margin-bottom: 15px;
  img {
    height: 400px;
    object-fit: cover;
  }
}

.avis {
  margin-bottom: 50px;
}

.booking-card-container {
  height: 470px;
  width: 340px;
  margin-top: 116px;
}

