<div class="container-one">
  <h1 id="title-page">Add your unicorn</h1>

<div class="container-second">
  <div class="photo-right">
    <%= image_tag "https://res.cloudinary.com/dnjssngdu/image/upload/v1597745147/Unicorns/PinClipart.com_graphic-clip-art_6395_nis5ij.png", alt: "alttext", class:'image_unicorn' %>
  </div>
  <div class="container-form">
    <%= render "form_new" %>
  </div>
  </div>
</div>

