<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="contact">
    <p>e-mail: unicorn.rainbow@glitter.universe</p>
    <p>tel: 01.23.45.67.89</p>
  </div>
  <img id="logo-small" src="https://www.reinfore.com/wp-content/uploads/2019/12/unicorn_sleep_cloud_rainbow_kawaii_9.png" alt="">
</div>
