<div class="banner home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.giphy.com/media/26AHG5KGFxSkUWw1i/giphy.gif); background-size: contain;">
  <div class="container ">
    <h1>Loue une licorne et laisse-toi guider </h1>
    <p class="mb-5">Que ta journée soit plus belle qu'une licorne qui pète des arcs-en-ciel.</p>

    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group ">

        <%= button_tag type: 'icon', class: "btn btn-round btn-left", id: "current-location" do %>
          <i class="fas fa-location-arrow"></i>
        <% end %>

        <div class="form-row">
          <div class="col" id="col-location">
            <label class="label-search-bar" for="location">Où ?</label>
            <input class="form-control string required" type="text" name="search[query]" id="location" placeholder="Indique une adresse" />
          </div>

          <div class="col" id="col-start-date">
            <label class="label-search-bar" for="start_date">Arrivée de ta licorne</label>
            <input class="form-control string required" type="text" name="search[query]" id="start_date" placeholder="Sélectionne une date" />
          </div>

          <div class="col" id="col-end-date">
            <label class="label-search-bar" for="end_date">Départ de ta licorne</label>
            <input class="form-control string required" type="text" name="search[query]" id="end_date" placeholder="Sélectionne une date"/>
          </div>
        </div>

        <button name="button" type="submit" class="btn btn-round btn-right">
            <i class="fas fa-search"></i>
        </button>

      </div>
    <% end %>

  </div>
</div>

<div class="service">
  <img src="https://i.pinimg.com/originals/a4/d6/a2/a4d6a2b2411d46f778fd037f63a99926.jpg" alt="">
  <div class="text">
    <h2>Notre service</h2>
    <p>Nous avons pour vocation de réaliser le rêve de tout un chacun. Nous avons donc réalisé de multiples recherches, études, inventaires et autres choses toutes plus scientifique
    les unes que les autres afin de trouver LA chose dont nous rêvons tous. Impossible, me direz-vous ? Eh bien pas avec <strong>Unico</strong>, le première
    start-up qui propose une location de licornes créées par les meilleurs propriétaires de la galaxie. Alors si vous aussi vous voulez des paillettes dans votre vie,
    alors n'hésitez plus une milliseconde et rejoignez-nous !</p>
  </div>

</div>
<!-- <div class="reviews">
  <img src="" alt="">
  <h2>Nos clients nous recomandent</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt repellat reiciendis esse, suscipit deleniti, earum modi sequi enim provident inventore.</p>
</div> -->
