.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: linear-gradient(to bottom right, $pink, $purple);
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: linear-gradient(to bottom right, $blue, $purple);
  color: white;
}
