#map {
  position: sticky;
  top: 100px;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-top : 25px;
}


.index {
  display:flex;
  justify-content: space-evenly;
  margin-top: 5px;
}

.mapboxgl-popup {
  max-width: 100px;
  background-color: $light-blue;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: $light-blue;
  border-radius: 8px;
  padding: 16px;
  h2 {
    margin-bottom: 0px;
  }
}

.mapboxgl-popup-anchor-bottom {
      border-radius: 8px;

}
