

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;

}

.search-form-control .btn-flat {
  color: black;
  padding: 15px 24px;
  background: #ace7ef;
}

.search-form-control .btn-flat:hover {
  transition: all 1s ease-out;
  border: 1px solid $blue;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  background: linear-gradient(75deg, $pink, $light-blue);
  color:black
}

.btn-flat.left {
      border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn-flat.right {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

@media (min-width: 576px) and (max-width: 768px) {
  .form-inline {
    flex-flow: nowrap;
  }
}

@media (min-width: 450px) and (max-width: 576px) {
  .form-inline {
    flex-flow: nowrap;
  }
  .form-control.string.required.time {
    display: none;
  }
}

@media (max-width: 450px) {
    .form-inline {
    flex-flow: nowrap;
  }
    .form-control.string.required.date {
    display: none;

  }
    .form-control.string.required.time {
    display: none;
  }
}
