.form-control[readonly] {
  background-color: white;
  &:hover {
    border: 1px solid $purple;
  }
  &:focus {
    border: 1px solid $purple;
  }
}
// .form-inputs {
//   width: 400px;
// }

// .login {
//   margin-bottom: 10px;
// }

// .signup {
//   margin-bottom: 10px;
// }


